// color palette
$tan: #e9dec8;
$brown: #c0a999;
$red: #9b4548;
$blue: #3e494d;
$green: #92bca8;

// typography
@import url('https://rsms.me/inter/inter-ui.css');

#post-11 {
    font-family: 'Inter UI', sans-serif;
    font-weight: 500;
    color: $blue;
    overflow-x: hidden;

    h1, h2, h3, h4, h5 {
        font-family: 'Museo Sans Rounded', 'Inter UI', sans-serif;
        font-weight: 800;
        color: $blue;
    }
    p {
        margin-bottom: 2rem;
    }

    .lesson-header {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient($tan, $green);

        img {
            margin: 1rem 0;
            max-width: 50%;
        }
        h1 {
            color: $blue;
            font-size: 5rem;
            line-height: 1;
            text-align: center;
        }
        .done-what {
            position: absolute;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            color: $red;
            text-align: center;

            .arrow-down {
                width: 2rem;
                height: 2rem;
                margin: auto;
                border-right: 2px solid $red;
                border-bottom: 2px solid $red;
                transform: rotate(45deg);
            }
        }
    }

    .large-image {
        margin: 3rem 0;
        display: flex;
        justify-content: center;
    }

    .lesson-intro {
        margin-bottom: 3rem;
    }

    .lesson-list {
        margin-bottom: 3rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 72rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            li {
                margin-bottom: 3rem;
                padding: 2rem;
                position: relative;
                height: 240px;
                display: flex;
                align-items: center;
                box-shadow: -11px 14px 24px rgba(0,0,0,0.14);

                &:before {
                    content: " ";
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 0;
                    left: -70px;
                    border-style: solid;
                    border-width: 120px 70px 120px 0;
                }
                

                h3 {
                    font-size: 2.5rem;
                }
                &:nth-child(1) {
                    background-color: $tan;

                    &:before {
                        border-color: transparent $tan transparent transparent;
                    }
                    h3 {
                        color: $red;
                    }
                }
                &:nth-child(2) {
                    background-color: $green;

                    &:before {
                        border-color: transparent $green transparent transparent;
                    }
                    h3 {
                        color: $tan;
                    }
                }
                &:nth-child(3) {
                    background-color: #8ba1b0;

                    &:before {
                        border-color: transparent #8ba1b0 transparent transparent;
                    }
                }
            }
        }
    }

    .spaced-learning {
        margin-bottom: 5rem;

        ul {
            list-style-position: inside;
            padding-right: 2rem;

            li {
                margin-bottom: 2rem;

                strong {
                    font-weight: 900;
                }
            }
        }
        .brain {
            max-width: 150%;
            width: 150%;
            height: 100%;
            margin-right: -50%;
        }
    }

    .lesson-conclusion {
        margin-bottom: 5rem;

        .grid-x {
            display: flex;
            align-items: center;
        }
        .red-pointer {
            width: 75%;
            height: 200px;
            background: $red;
            -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        }
        .lead:last-child {
            margin-bottom: 0;
        }
    }
}
