/*
Theme Name: WP-Forge
Theme URI: https://themeawesome.com/responsive-wordpress-theme
Author: ThemeAwesome
Author URI: https://themeawesome.com/
Description: A WordPress theme built using the latest version of Foundation for Sites, from Zurb, the most advanced responsive front-end framework in the world. By combining WordPress and Foundation you get a resposive WordPress theme that makes creating websites fun and exciting again! Please make sure you view the CHANGELOG and README files before/after installation and/or update.
Version: 6.4.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, one-column, two-columns, right-sidebar, left-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, sticky-post, translation-ready
Text Domain: wp-forge
*/

/**
 *
 * Table of Contents
 *
 * 1.0 - Reset
 * 1.1 - Typography
 * 2.0 - Accessibility
 * 3.0 - Repeatable Patterns
 * 4.0 - Basic Structure
 * 5.0 - Main content and comment content
 * 6.0 - Archives
 * 7.0 - Single image attachment view
 * 8.0 - Post Formats
 * 9.0 - Page Links
 * 10.0 - Comments
 * 11.0 - Front Page Template
 * 12.0 - Widgets
 * 13.0 - Social Menu
 * 14.0 - Misc
 * 15.0 - Media Queries
 */

/**
 * 1.0 - Reset
 */
ins {
	background: #fff9c0;
	text-decoration: none;
	padding:0 0.1875rem;}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;}
sup {
	top: -0.5em;}
sub {
	bottom: -0.25em;}
small {
	font-size: smaller;}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;}
blockquote cite {
	margin-top: 1rem;}
.sticky {/* Style not used but left in case you want to style the sticky in some way - use fixed instead see below */}

/**
 * 1.1 - Typography
 */
@import url('https://rsms.me/inter/inter-ui.css');

body {
    font-family: 'Inter UI', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: serif;
}

/**
 * 2.0 - Accessibility
 */
.says,
.assistive-text,
.screen-reader-text,
.site .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 0.0625rem;}
.site .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font: bold 14px/normal "Noto Sans", sans-serif;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;}
.logged-in .site .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	font: bold 14px/normal "Inter UI", sans-serif;}
.site .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;}

/**
 * 3.0 - Repeatable Patterns
 */

/* Small headers */
.archive-title,
.page-title,
.entry-content-post th,
.entry-content-page th,
.comment-content th {
	line-height: 2.181818182;
	font-weight:normal;
	text-transform: uppercase;
	color: #636363;}
#secondary .widget-title {
	font-weight:normal;}
#secondary .menu .active > a {
	background: none;}
select { /* Make sure select elements fit in widgets */
	cursor:pointer;
	max-width: 100%;
	border:1px solid #ccc;}

/* Responsive images */
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */}
.attachment-post-thumbnail {/* Centers post thumbnials */
    display:block;
    margin:0 auto 1.5rem;}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;}
.entry-content-post .twitter-tweet-rendered,
.entry-content-page .twitter-tweet-rendered {
	max-width: 100% ; /* Override the Twitter embed fixed width */}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;}

/* Images */
.alignleft {
	float: left;}
.alignright {
	float: right;}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;}
figure {
	margin: 0 0 1rem;}
figcaption,
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;}
figcaption,
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	line-height: 2;
	color: #757575;}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;}
.entry-content-post dl.gallery-item,
.entry-content-page dl.gallery-item {
	margin: 0;}
.gallery-item a,
.gallery-caption {
	width: 90%;}
.gallery-item a {
	display: block;}
.gallery-caption a {
	display: inline;}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;}
.gallery .gallery-icon img {
	border: none!important;
	height: auto;
	max-width: 90%;}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;}
.gallery {
	margin-bottom: 1rem!important;}

/* Post Navigation */
.nav-single {
	position:relative;
	float:left;
	width:100%;
	margin-bottom:3.75rem;}
#nav-below  {
	position:relative;
	float:left;
	width:100%;
	margin-bottom:2rem;}
.site-content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;}
.site-content #image-navigation {
	margin:1.5rem 0;}
#nav-above {
	padding: 1.5rem 0;}
#nav-above {
	display: none;}
.paged #nav-above {
	display: block;}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;}
#comment-nav-below.columns {
	margin: 0 0 1.5rem;
	padding: 0;}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 3rem 0;
  	display: block;
  	position: relative;
  	clear: both;}
/* Author profiles */
.author .archive-header {
	margin-bottom: 1.5rem;}
.author-info {
  	border-bottom: 1px solid #ededed;
  	display: block;
	margin: 1.5rem 0;
	overflow: hidden;
	padding:20px 0;
	position: relative;
	float: left;}
.author-description p {
	color: #757575;
	font-size: 0.875rem;
	line-height: 1.846153846;}
.author.archive .author-info {
	border-top: 0;
	display: block;
	float: none;
	margin: 0 0 3rem;
	border-bottom: 1px solid #ededed;
	padding:10px 0;
	position: relative;}
.author.archive .author-avatar {
	margin-top: 0;}
.author.archive .author-avatar img {
	margin-top: 0;}
.author-avatar {
	margin-top: 1.5rem;
  	text-align: center;}
.author-avatar img {
	border-radius:50%;}
.author-description h3 {
    text-align: center;}
.author-description h2 {
	margin-top:0;}

/**
 * 4.0 - Basic Structure
 */
body {
	color: #444444;
	background-color: #e6e6e6;
	text-rendering: optimizeLegibility;
	-ms-word-wrap: break-word;
	word-wrap: break-word;}
a {
	outline:none!important;
	transition: all .2s ease-in!important;}
/* main containers */
.header_container,
.nav_container,
.content_container,
.sidebar_container,
.footer_container {
	background-color: transparent;
	max-width: 100%;
	width: 100%;}
.header_wrap.grid-container:not(.full) > .grid-padding-x {
	margin: 0;}
.content_wrap {
	padding-top: 1.5rem;}
.nav_wrap {
	background: transparent;
	padding:0;}
#header {
	padding:0.9375rem 0;}
.header-logo {
	display:block;
	float:left;
	max-width:100%;}
.no-header-info .header-info {
	display: none;}
.no-site-title .site-title {
	display: none;}
.no-site-tagline .site-description {
	display: none;}
h1.site-title,
h2.site-description,
p.site-title,
p.site-description {
	line-height: 1.3;
	margin: 0}
h1.site-title a {
	text-decoration: none;}
img.header-image {/* Remove fancy borders */
	border-radius: 0;
	box-shadow:none;}
.site-header {
	padding: 0;}
.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 3rem;}
.widget-area .widget ul {
	margin-left:2em;}
.widget-area .widget h3 {
	margin-bottom: 5px;}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 1.5rem;}
.widget-area .textwidget li {
	margin-left: 36px;}
.widget-area .textwidget ol {
	margin: 0 0 1.5rem;}
.widget-area .widget .menu {
	margin-left: 0.75rem!important;}
.widget-area .widget .menu > li {
	display: block!important;}
.widget-area .widget .menu > li:not(.menu-text) > a {
    padding: 0.5rem;
    line-height: 1;}
footer[role="contentinfo"] {
	border-top: 1px solid #ededed;
	clear: both;
	line-height: 2;
	padding: 1.5rem 0;}
footer[role="contentinfo"].inline-list {
	margin-bottom: 1rem;}
footer > .site-info {
	margin-bottom:0;}
footer > .site-info.lft {
	text-align:left;}
footer > .site-info.rt {
	text-align:right;}
footer > .site-info.cntr {
	text-align:center;}
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;}
.table ul.navcntr li {
	display: inline-block!important;}
.footer_wrap p {
  	margin-bottom:0;}
.footer_wrap a {
	text-decoration:none;}
.footer_wrap .table {
	margin-bottom: 1rem;}
#secondary-sidebar {
	padding-top: 1.5rem;
	border-top: 1px solid #ededed;}

/**
 * 5.0 - Main content and comment content
 */
.entry-meta {
	clear: both;}
.entry-header {
	margin-bottom: 1.5rem;}
.entry-meta-header,
.entry-meta-categories {
    color: #757575;
    line-height: normal;
    margin-bottom: 1.5rem;
    text-transform: uppercase;}
.entry-meta-header .genericon,
.entry-meta-categories .genericon {
    line-height:1;}
h1.entry-title {
	line-height: 1.2;
	margin-bottom: 1rem;}
.entry-header .entry-title a {
	text-decoration: none;}
span.edit-link {
	margin-left: 0.3125rem;}
span.edit-link-none {
	margin: 0;}
.page span.edit-link .genericon {
	line-height: 1.7;}
.attachment span.edit-link {
  margin-left: 0.5rem;}
article .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 0.875rem;
	line-height: 3.692307692;
	margin-bottom: 1.5rem;
	text-align: center;}
.entry-content-post ul,
.entry-content-post ol,
.entry-content-page ul,
.entry-content-page ol {
	margin-left:2.125rem;}
.entry-content-post [class*="block-grid-"],
.entry-content-page [class*="block-grid-"] {
    margin: 0 0.625em;}
.entry-content-post .f-dropdown,
.entry-content-page .f-dropdown{
	margin-bottom:0;
	margin-left:0;
	list-style:none;}
.entry-content-post blockquote,
.entry-content-page blockquote,
.comment-content blockquote {
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	font-style: italic;}
.entry-content-post blockquote p:last-child,
.entry-content-page blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;}
.entry-content-post pre,
.entry-content-page pre,
.comment-content pre{
	background: #f9f9f9;
	border-radius: 3px;
	color: #000000;
	margin: 20px 0;
	overflow-x: auto;
	padding: 20px;
	line-height: 1.3rem;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;}
.entry-content-post pre code,
.entry-content-page pre code,
.comment-content pre code{
	background-color: transparent;
	border: 0;
	font-weight: normal;
	display: block;
	line-height: 1.3rem;}
.entry-content-post address,
.entry-content-page address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 1.5rem;}
img.alignleft, .wp-caption.alignleft {
	margin: 1.5rem 1.5rem 1.5rem 0;}
img.alignright, .wp-caption.alignright {
	margin: 1.5rem 0 1.5rem 1.5rem;}
img.aligncenter {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;}
img.alignnone {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem}
.entry-content-post dt,
.entry-content-page dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;}
.entry-content-post dd,
.entry-content-page dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 1.5rem;}
.entry-content-post table,
.entry-content-page table,
.comment-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	line-height: 2;
	margin: 0 0 1.5rem;
	width: 100%;}
.entry-content-post table caption,
.entry-content-page table caption,
.comment-content table caption {
	font-size: 16px;
	margin: 1.5rem 0;}
.entry-content-post td,
.entry-content-page td,
.comment-content td {
	border-top: 1px solid #ededed;
	padding: 6px 10px;}
.entry-content-post th,
.entry-content-page th,
.comment-content th,
.entry-content-post td,
.entry-content-page td,
.comment-content td {
	text-align: left;}
article {
	border-bottom: 1px solid #ededed;
	margin-bottom: 35px;
	padding-bottom: 1.5rem;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	-ms-word-wrap: break-word;
	word-wrap: break-word;}
body.page article {
	border-bottom:none;
	margin-bottom:0;
	padding-bottom:0;}
.error404 article {
	border-bottom:none;}
.page-links {
	clear: both;
	line-height: 1.714285714;}
footer.entry-meta {
	padding: 1rem 0;
	color: #757575;}
.entry-meta-tags {
    line-height: normal;}
.entry-meta-categories_bottom {
    color: #757575;
    line-height: normal;
    margin-bottom: 0.25rem;}
.entry-meta-tags .genericon {
    line-height:1;}
footer .entry-meta-footer .the-cats {
    margin-bottom: 5px;}
.single-author .entry-meta .by-author {
	display: none;}
span.sticky-post,
span.entry-date,
span.byline,
span.pfont,
.entry-format {
	margin-right:0.3125rem; /* 5px */}
span.entry-date .genericon-month {
	margin-right: 1px;}

/**
 * 6.0 - Archives
 */
.archive-header,
.page-header {
	margin-bottom: 3rem;
	padding-bottom: 22px;
	border-bottom: 1px solid #ededed;}
.archive-meta {
	color: #757575;
	font-size: 12px;
	line-height: 2;
	margin-top: 22px;}

/**
 * 7.0 - Single image attachment view
 */
.article.attachment {
	overflow: hidden;}
.image-attachment div.attachment {
	text-align: center;}
.image-attachment div.attachment p {
	text-align: center;}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;}
.image-attachment .entry-caption {
	margin-top: 8px;}

/**
 * 8.0 - Post Formats
 */
article.format-aside h1 {
	margin-bottom: 1.5rem;}
article.format-aside h1 a {
	text-decoration: none;
	color: #4d525a;}
article.format-aside h1 a:hover {
	color: #2e3542;}
article.format-aside .aside {
	padding: 1.5rem;
	background: #d9edf8;
	border-left: 22px solid #0078a0;}
article.format-aside p {
	font-size: 0.875rem;
	line-height: 1.846153846;
	color: #4a5466;}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;}
article.format-image footer h1 {
	font-size: 0.875rem;
	line-height: 1.846153846;
	font-weight: normal;}
article.format-image footer h2 {
	font-size: 11px;
	line-height: 2.181818182;}
article.format-image footer a h2 {
	font-weight: normal;}
.pformat {
	float: left;
	font-size: 26px;
	margin-right:5px;
	color:#888;}
article.format-link header {
	padding: 5px 10px;
	float: right;
	font-size: 20px;
	text-transform: uppercase;
	color: #848484;
	background-color: #ebebeb;
	border-radius: 3px;}
article.format-link .entry-content-post a,
article.format-link .entry-content-page a {
	font-size: 22px;
	line-height: 1.090909091;
	text-decoration: none;}
article.format-quote .entry-content-post p,
article.format-quote .entry-content-page p {
	margin: 0;
	padding-bottom: 1.5rem;}
article.format-quote .entry-content-post blockquote,
article.format-quote .entry-content-page blockquote {
	display: block;
	padding: 1.5rem 1.5rem 0;
	font-size: 15px;
	line-height: 1.6;
	color: #6a6a6a;
	background: #efefef;}
.format-status .entry-header {
	margin-bottom: 2.813rem}
.format-status .entry-header header {
	display: inline-block;
	margin-top: 1.5rem;}
.format-status .entry-header h1 {
	font-size: 15px;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;}
.format-status .entry-header h2 {
	font-size: 12px;
	font-weight: normal;
	line-height: 2;
	margin: 0;}
.format-status .entry-header header a {
	color: #757575;}
.format-status .entry-header header a:hover {
	color: #21759b;}
.format-status .entry-header img {
	float: left;
	margin-right: 21px;
	border-radius: 50%;}

/**
 * 9.0 - Page Links
 */
.page-links {
	clear: both;
	font-weight: normal;
	line-height: 2.2;
	margin: 20px 0;}
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	padding: 1px 7px;
	text-decoration: none;
	margin:0 5px;}
.page-links a {
	padding: 1px 7px;
	text-decoration: none;
	background: #2ba6cb;
	color: #fff;}
.page-links a:hover {
	background: #e6e6e6;
	color:#555;}

/**
 * 10.0 - Comments
 */
#comments ol {
	list-style: none;}
.comments-title {
	margin-bottom: 3rem;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;}
.comments-area article {
	margin: 1.5rem 0;}
.comments-area article header {
	margin: 0 0 3rem;
	overflow: hidden;
	position: relative;}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
	border-radius: 50%;}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 80px;}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	line-height: 1.42857143;
	margin-top:8px;}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	color: #5e5e5e;}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;}
.comments-area article header a:hover {
	color: #21759b;}
.comments-area article header cite a {
	color: #444;}
.comments-area article header cite a:hover {
	text-decoration: underline;}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;}
.comments-area li.bypostauthor cite span {
	background-color: #444444;
	background-image: none;
	border-radius: 2px;
	box-shadow: none;
	color: #ffffff;
	position: absolute;
	margin:3px 0 0 5px;
	padding: 1px 5px 1.5px;
	font-size: 10px;}
.reply {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;}
.reply span.label {
	font-size: 0.65rem;
	font-weight: bold;
	cursor: pointer;}
a.comment-reply-link,
a.comment-edit-link {
    cursor: pointer;
	text-decoration:none;
  	font-size: 0.5rem;
    font-weight: bold;
  	line-height: normal;
  	margin-bottom: 1.5rem;}
p.edit-link {
  margin-bottom: 0;}
.reply span.genericon,
p.edit-link .genericon {
	font-size: 1rem;
  	line-height:1.5;}
.commentlist .pingback {
	line-height: 1.714285714;
	margin:1rem 0;
	list-style:none;}
.comment-respond #respond {
	margin-top: 3rem;}
#respond h3#reply-title {
	font-size: 1.4375rem;
	line-height: 1.5;}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	font-weight: normal;
	font-size: 0.65rem;
    cursor: pointer;}
#respond form {
	margin: 1.5rem 0;}
#respond form p {
	margin: 11px 0;}
#respond form p.logged-in-as {
	margin-bottom: 1.5rem;}
#respond form label {
	display: block;
	line-height: 1.714285714;}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.714285714;
	width: 100%;}
#respond form input[type="text"],
#respond form input[type="email"],
#respond form input[type="url"] {
	width: 100%;}
#respond form textarea.blog-textarea {
	width: 79.666666667%;}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 0.6875rem;
	color: #5e5e5e;}
#respond .form-allowed-tags code {
	font-size: 0.60rem;}
.required {
	color: red;}
p.comment-notes {
	font-size: 0.75rem;}
p.comment-form-author, p.comment-form-email {
	padding-left: 0;}
p.comment-form-email {
	padding-right: 0;}

/**
 * 11.0 - Front page template
 */
.front-image {
	float: right;}
.front-content {
	float: left;}
.template-front-page .site-content article {
	border: 0;
	margin-bottom: 0;}
.template-front-page .widget-area {
	clear: both;
	float: none;
	width: auto;
	padding-top: 1.5rem;
	border-top: 1px solid #ededed;}

/**
 * 12.0 - Widgets
 */
.widget-area .widget ul ul {
	margin-left: 12px;}
.widget_rss li {
	margin: 12px 0;}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	margin-left: 12px;}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.846153846;
	color: #686868;}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;}
#wp-calendar #next {
	padding-right: 1.5rem;
	text-align: right;}
.widget_search label {
	display: block;
	line-height: 1.846153846;
	display:none;}
.widget_twitter li {
	list-style-type: none;}
.widget_twitter .timesince {
	display: block;
	text-align: right;}

/**
 * 13.0 - Social Menu
 */
.social_wrap {
	margin: 1.5rem 0 0;
 	padding: 0;}
.social-navigation a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;}
.social-navigation {
	position: relative;}
.social-navigation ul:before,
.social-navigation ul:after {
	content: "";
	display: table;}
.social-navigation ul {
	list-style: none;
	margin: 0;
	text-align: center;}
.social-navigation li {
	display: inline-block!important;}
.social-navigation a {
	display: block;
	height: 1.5rem;
	position: relative;
	width: 1.8rem;}
.social-navigation a:before {
	content: "\f415";
	font-size: 24px;
	position: absolute;
	top: 0;
	left: 0;}
.social-navigation a[href$="/feed/"]:before {
	content: "\f413";}
.social-navigation a[href*="codepen.io"]:before {
	content: "\f216";}
.social-navigation a[href*="digg.com"]:before {
	content: "\f221";}
.social-navigation a[href*="dribbble.com"]:before {
	content: "\f201";}
.social-navigation a[href*="dropbox.com"]:before {
	content: "\f225";}
.social-navigation a[href*="facebook.com"]:before {
	content: "\f203";}
.social-navigation a[href*="flickr.com"]:before {
	content: "\f211";}
.social-navigation a[href*="foursquare.com"]:before {
	content: "\f226";}
.social-navigation a[href*="plus.google.com"]:before {
	content: "\f206";}
.social-navigation a[href*="github.com"]:before {
	content: "\f200";}
.social-navigation a[href*="instagram.com"]:before {
	content: "\f215";}
.social-navigation a[href*="linkedin.com"]:before {
	content: "\f208";}
.social-navigation a[href*="pinterest.com"]:before {
	content: "\f210";}
.social-navigation a[href*="getpocket.com"]:before {
	content: "\f224";}
.social-navigation a[href*="polldaddy.com"]:before {
	content: "\f217";}
.social-navigation a[href*="reddit.com"]:before {
	content: "\f222";}
.social-navigation a[href*="stumbleupon.com"]:before {
	content: "\f223";}
.social-navigation a[href*="tumblr.com"]:before {
	content: "\f214";}
.social-navigation a[href*="twitter.com"]:before {
	content: "\f202";}
.social-navigation a[href*="vimeo.com"]:before {
	content: "\f212";}
.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
	content: "\f205";}
.social-navigation a[href*="youtube.com"]:before {
	content: "\f213";}
.social-navigation a[href*="mailto:"]:before {
	content: "\f410";}
.social-navigation a[href*="spotify.com"]:before {
	content: "\f515";}
.social-navigation a[href*="twitch.tv"]:before {
	content: "\f516";}
/**
 * 14.0 - Misc
 */
section.tab-bar-section.middle a {
	color:#fff;
	font-weight:normal;}
ul.orbit-container {
    margin-left: 0;}
.orbit > button {
    background: transparent;}
.orbit-bullets button {
	cursor: pointer;
    width: 0px;
    height: 0.8rem;
    margin: 0.2rem;
    background-color: #cacaca;
    border-radius: 50%;
    border: 1px;
	padding:0.5em}
.orbit-bullets button:focus {
	outline: none;}
.orbit-previous, 
.orbit-next {
	cursor: pointer;}
#backtotop {
	position: fixed;
	right: 1rem;
	bottom:1rem;
	z-index: 99;
	cursor: pointer;
	display: none;
	font-size: 1.2rem;
	width:1.5rem;
	height:1.5rem;
	line-height:1.5rem;
	text-align:center;
	border-radius:10%;
	opacity: 0.5;}
#backtotop span.genericon {
	line-height: 1.5;
	margin-left: 0.125rem;}
#backtotop:hover {
	opacity: 1.0;}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;}
ul.breadcrumbs,
ul.button-group {
	margin-left: 0!important;}
button,
.button,
button.secondary,
.button.secondary,
button.success,
.button.success,
button.alert,
.button.alert,
button.warning,
.button.warning,
button.info,
.button.info {
	border-color: transparent;}
a.button.hollow,
a.button.hollow:hover,
a.button.hollow:focus,
a.button.hollow.primary,
a.button.hollow.primary:hover,
a.button.hollow.primary:focus,
a.button.hollow.secondary,
a.button.hollow.secondary:hover,
a.button.hollow.secondary:focus,
a.button.hollow.success,
a.button.hollow.success:hover,
a.button.hollow.success:focus,
a.button.hollow.warning,
a.button.hollow.warning:hover,
a.button.hollow.warning:focus,
a.button.hollow.alert,
a.button.hollow.alert:hover,
a.button.hollow.alert:focus,
a.button.hollow.info,
a.button.hollow.info:hover,
a.button.hollow.info:focus {
	background-color: transparent;}
a.button.hollow,
a.button.hollow:hover,
a.button.hollow:focus,
a.button.hollow.primary,
a.button.hollow.primary:hover,
a.button.hollow.primary:focus,
a.button.hollow.secondary,
a.button.hollow.secondary:hover,
a.button.hollow.secondary:focus,
a.button.hollow.success,
a.button.hollow.success:hover,
a.button.hollow.success:focus,
a.button.hollow.warning,
a.button.hollow.warning:hover,
a.button.hollow.warning:focus,
a.button.hollow.alert,
a.button.hollow.alert:hover,
a.button.hollow.alert:focus,
a.button.hollow.info,
a.button.hollow.info:hover,
a.button.hollow.info:focus,
button.hollow,
button.hollow:hover,
button.hollow:focus,
button.hollow.primary,
button.hollow.primary:hover,
button.hollow.primary:focus,
button.hollow.secondary,
button.hollow.secondary:hover,
button.hollow.secondary:focus,
button.hollow.success,
button.hollow.success:hover,
button.hollow.success:focus,
button.hollow.warning,
button.hollow.warning:hover,
button.hollow.warning:focus,
button.hollow.alert,
button.hollow.alert:hover,
button.hollow.alert:focus,
button.hollow.info,
button.hollow.info:hover,
button.hollow.info:focus,
.entry-content-page a.button,
.entry-content-page a.button:hover,
.entry-content-page a.button:focus,
.entry-content-page a.button.primary,
.entry-content-page a.button.primary:hover,
.entry-content-page a.button.primary:focus,
.entry-content-page a.button.secondary,
.entry-content-page a.button.secondary:hover,
.entry-content-page a.button.secondary:focus,
.entry-content-page a.button.success,
.entry-content-page a.button.success:hover,
.entry-content-page a.button.success:focus,
.entry-content-page a.button.warning,
.entry-content-page a.button.warning:hover,
.entry-content-page a.button.warning:focus,
.entry-content-page a.button.alert,
.entry-content-page a.button.alert:hover,
.entry-content-page a.button.alert:focus,
.entry-content-page a.button.info,
.entry-content-page a.button.info:hover,
.entry-content-page a.button.info:focus,
.entry-content-page button,
.entry-content-page button:hover,
.entry-content-page button:focus,
.entry-content-page button.primary,
.entry-content-page button.primary:hover,
.entry-content-page button.primary:focus,
.entry-content-page button.secondary,
.entry-content-page button.secondary:hover,
.entry-content-page button.secondary:focus,
.entry-content-page button.success,
.entry-content-page button.success:hover,
.entry-content-page button.success:focus,
.entry-content-page button.warning,
.entry-content-page button.warning:hover,
.entry-content-page button.warning:focus,
.entry-content-page button.alert,
.entry-content-page button.alert:hover,
.entry-content-page button.alert:focus,
.entry-content-page button.info,
.entry-content-page button.info:hover,
.entry-content-page button.info:focus{
	text-decoration: none!important;}
.keystroke, kbd, code {
	padding: 0.125rem 0.25rem 0.125rem;
	font-size: 0.875rem;}
.tabs.vertical {
margin: 0 0 1.25rem!important; }
.nudge {
	margin-right: 0.5rem;}
img#wpstats{
	display:none}
.no-js [data-responsive-toggle],
.no-js [data-responsive-menu] ul {
 	display: none!important;}
@media screen and (max-width:39.9em) {
	.no-js .top-bar {display: none; }
	.no-js .title-bar {display: flex;}
}
[type='text'] {
	height: 2.55rem;}
/* off-canvas styles */
ul.off-canvas-list li,
ul.off-canvas-list li li,
ul.off-canvas-list li li li,
ul.off-canvas-list li li li li,
ul.off-canvas-list li li li li li,
ul.off-canvas-list li li li li li li {
	list-style-type:none;}
.title-bar {
	padding: 0.76rem 0.75rem;}
.title-bar-title {
	font-weight: normal;}
.off-canvas-content .title-bar-title{
	color: #ffffff;}
.submenu-toggle {
	top:5px;}
span.canvas-title, span.tbar-title {
	display: inline-block;
    vertical-align: middle;
	font-weight: normal;
	font-family: 'Inter UI', sans-serif;
	margin-bottom: 0.3125rem;
	margin-left: 0.3125rem;}
span.tbar-title{
	color:#e6e6e6;}
span.tbar-title:hover,
.title-bar button:hover{
	color:#ffffff;}
.title-bar button,
.title-bar button:hover,
.title-bar button:active,
.title-bar button:focus {
	background-color: transparent;
	cursor: pointer;
	outline:none!important;}
.accordion-menu li {
    border:0;}
.submenu-toggle {
    border:0;}
.off-canvas-content,
.off-canvas-content {
	background-color: transparent;
	box-shadow: none;}
.js-off-canvas-exit {
	box-shadow: -2px 0px 4px #000000;}
.off-canvas-right .js-off-canvas-exit {
	box-shadow: 2px 0px 4px #000000;}
.js-off-canvas-exit:hover {
	background: rgba(254, 254, 254, 0);}
.menu > li:not(.menu-text) > a {
	line-height: 1.7;}
.top-bar {
	padding: 0;}
.top-bar-title {
	color: #ffffff;
    padding: 0 1rem;
    line-height: 1.7;}
.top-bar .menu-item-home {
	background:none!important; }
.dropdown.menu.vertical > li.opens-left > a::after {
	left:auto!important;}

.off-canvas .close-button, 
.off-canvas .close-button.medium,
.off-canvas-absolute .close-button, 
.off-canvas-absolute .close-button.medium {
	color: #ffffff!important;
    right: 1rem!important;
    top: 0.5rem;}
.off-canvas .close-button:hover, 
.off-canvas .close-button.medium:hover,
.off-canvas-absolute .close-button:hover, 
.off-canvas-absolute .close-button.medium:hover {
	color: #ffffff!important;}
#footer .menu > .current-menu-parent,
#footer .menu > .current-page-parent,
#footer .menu > .current-page-ancestor,
#footer .menu > .current_page_item,
#secondary .menu > .current-menu-parent,
#secondary .menu > .current-page-parent,
#secondary .menu > .current-page-ancestor,
#secondary .menu > .current_page_item,
#secondary-sidebar .menu > .current-menu-parent,
#secondary-sidebar .menu > .current-page-parent,
#secondary-sidebar .menu > .current-page-ancestor,
#secondary-sidebar .menu > .current_page_item,
#secondary .menu .current-menu-parent li, 
#secondary .menu .current-page-parent li, 
#secondary .menu .current-page-ancestor li, 
#secondary .menu .current_page_item li,
#secondary-sidebar .menu .current-menu-parent li, 
#secondary-sidebar .menu .current-page-parent li, 
#secondary-sidebar .menu .current-page-ancestor li, 
#secondary-sidebar .menu .current_page_item li{
	background: transparent!important;}
.menu-text {
  color: #fff;
  font-weight: normal;
  line-height: 1.7;}
  	@media only screen and (max-width: 40em) {
    	.menu-text {
      	display: none !important; }}
	@media only screen and (min-width: 40em) {
  	.menu:first-child {
   		border-left: none; }}
textarea {
    min-height: 250px!important;}
 .js-drilldown-back > a::before {
 	vertical-align: inherit;}
/* Magellan styles */
.dahnav {
	background: #ffffff!important;
}
/* fixed element to allow for the sticky menu - taken from F5 */
 .fixed {
	position: fixed;
  	top: 0;
  	width: 100%;
  	z-index: 99;
  	left: 0;}
.fixed.expanded:not(.top-bar) {
   	height: auto;
  	max-height: 100%;
   	overflow-y: auto;
   	width: 100%;}
.fixed.expanded:not(.top-bar) .title-area {
	position: fixed;
    width: 100%;
    z-index: 99;}
.fixed.expanded:not(.top-bar) .top-bar-section {
    margin-top: 2.8125rem;
    z-index: 98;}
.f-topbar-fixed {
    padding-top: 45px;
}
/* this allows the menu to stick to the top when scrolled - taken from F5 */
.contain-to-grid {
	width: 100%;`}
.contain-to-grid .top-bar {
    margin-bottom: 0;}
.contain-to-grid .top-bar {
    margin: 0 auto;
    margin-bottom: 0;}}
.left {
  float: left !important;}
.right {
  float: right !important;}
.pagination {
	margin-bottom: 35px;}
.pagination .current {
    padding: 0!important;}
.pagination-previous a::before,
.pagination-previous.disabled::before,
.pagination-next a::after,
.pagination-next.disabled::after {
    content: '';}
.breadcrumbs {
	border-style: solid;
	border-width: 1px;
	display: block;
	font-size: 0.625rem;
	list-style: none;
	margin:0 0 1.5rem 0;
	overflow: hidden;
	padding: 0.5625rem 0.875rem 0.5625rem;
	background-color: #f4f4f4;
	border-color: gainsboro;
	border-radius: 3px;
	text-transform: uppercase;}
.breadcrumbs a:not(:last-child)::after {
    color: #cacaca;
    content: "/";
    margin: 0 0.25rem;
    position: relative;
    top: 1px;
    opacity: 1;}
.breadcrumbs a:hover {
	text-decoration: none;}
.radius {
	border-radius: 3px;}
.round {
	border-radius: 1000px;}
button.info, .button.info {
	background-color: #a0d3e8;
	color: #333333;}
button.info:hover,
button.info:focus,
.button.info:hover,
.button.info:focus {
	background-color: #61b6d9;}
button.info:hover,
button.info:focus,
.button.info:hover,
.button.info:focus {
	color: #ffffff;}
button.hollow.info,
.button.hollow.info {
	background: transparent;
    border: 1px solid #61b6d9;
    color: #61b6d9;}
.button.hollow.info:hover,
.button.hollow.info:focus {
	border-color: #0c4d78;
	color: #0c4d78;}
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 1.5rem 0; }
.entry-content-post ul.accordion,
.entry-content-post ol.accordion,
.entry-content-post ul.tabs,
.entry-content-post ol.tabs,
.entry-content-page ul.accordion,
.entry-content-page ol.accordion,
.entry-content-page ul.tabs,
.entry-content-page ol.tabs{
	margin-left: 0;}
.tabs-content {
	margin-bottom: 1.5rem;}
#secondary a.nm {
	color: #ffffff!important;
	font-size: 0.9375rem;}
#secondary ul li li {
	list-style-type: disc;
	margin-left: 1.5rem;}
#footer .menu.navcntr > li:not(.menu-text) > a,
#footer .menu.left > li:not(.menu-text) > a {
	padding: 0.2rem 0.5rem;}
#footer .menu.right > li:not(.menu-text) > a {
	padding: 0 1rem 0 0;}
.top-bar .title-area {
	margin: 0;
	width: auto;
	float: left;
	line-height: 1.7;}
.top-bar .title-area ul {
	list-style: none;}
.top-bar .title-area li {
	list-style: none;
	padding:0;}
.top-bar .title-area li a {
	display: block;
	padding: 0.7rem 1rem;}
.home .top-bar .menu > .active {
	background: none!important;}
.site-map-left article {
	border-bottom: 1px solid #ededed!important;
    margin-bottom: 35px!important;
    padding-bottom: 1.5rem!important;
    -webkit-hyphens: auto!important;}

/**
 * Pricing Tables
 */
.pricing-table {
  	border: solid 1px #DDDDDD;
	margin-left:0!important;}
.pricing-table li {
	border-bottom: dotted 1px #DDDDDD;
	font-size: 0.75rem;
	padding: 0.875rem 1.125rem;}
.pricing-table li:last-child {
  	border-bottom: 0;}
.pricing-table .title {
	background-color: #333333;
	color: #EEEEEE;
	font-size: 0.875rem;
	border-bottom: 0;}
.pricing-table .price {
	background-color: #F6F6F6;
	color: #333333;
	font-size: 1.75rem;
	border-bottom: 0;}
.pricing-table .description {
	color: #777777;
	font-size: 0.625rem;}
.pricing-table .button {
	margin: 0;}

/**************************************
 * WooCommerce
 *************************************/
.woocommerce .search-submit {
  display: none!important;}
ul.tabs.wc-tabs {
  border-top:1px solid #e6e6e6;border-right:none;border-left:none;border-bottom:1px solid #e6e6e6;}
table.variations tbody {
  border: none;}
.woocommerce div.product form.cart .variations select {
  margin: 0;}
.woocommerce div.product table.variations {
  margin: 0!important;}
.woocommerce div.product form.cart .variations td.label {
  background:transparent;}
td.value {
  padding: 0!important;}
.woocommerce div.product form.cart .variations td.label {
  margin-top: 5px;}
.woocommerce .quantity .qty {
  padding: 6.5px;}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color:#b02329;}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 0;margin: 0 0 1.618em;text-align: center;}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: none;}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border:none;background-color:transparent;position:inherit;border-radius: 0;margin: 0 -5px;}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  padding:0;background:transparent;border:none;border-radius: 100%;}
.woocommerce #reviews #comments h2 {
  margin-bottom: 25px;}
.woocommerce div.product .woocommerce-tabs .panel #comments {
  padding: 0;}
.woocommerce .star-rating span:before, .woocommerce .star-rating:before {
    color: #ffa200;}
.woocommerce p.stars a {
  color: #ffa200;}
.woocommerce div.product form.cart {
  width:60%;}
.woocommerce div.product form.cart .variations select {
  max-width: 75%;}
a.reset_variations {
  margin-left: 15px;}
.woocommerce-page .woocommerce-message .button {
  background: transparent;font-weight: 700;}
.woocommerce-page .woocommerce-message .button:hover {
  background: transparent;}
a.button.wc-forward:after {
  content: "\f105";font-family: FontAwesome;line-height: 1em;speak: none;padding-left: 10px;}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 120px;}
.single_variation_wrap {
	margin: 15px 0;}
.archive.woocommerce ul.products li.product .onsale,
.woocommerce-checkout .cart-collaterals .cross-sells ul.products li.product .onsale,
.woocommerce section.up-sells ul.products li.product .onsale {
	margin: 0;}
.archive.woocommerce span.onsale {
	border-radius: 0;
	padding: 5px 15px;
	line-height: normal;
	min-height:0;
	min-width: 0;}
.product-template-default.woocommerce span.onsale{
	border-radius: 0;
	padding: 5px 15px;
	line-height: normal;
	min-height:0;
	min-width: 0;
	text-transform: uppercase;
	top: 0;
	left: 0;}

/**
 * 15.0 - Media Queries
 */

/* Small only */
@media screen and (max-width: 39.9375em) {
	.header-logo, .header-info {margin-right:0;}
	.header-info {margin-top: 0;}
	h1.site-title, p.site-title {font-size: 3rem;}
    .site-description {font-size: 1rem!important;}
	.content_wrap {padding-top: 1rem;}
	.breadcrumbs {padding: 0.1rem 0.5rem;font-size: 0.5rem;}
	h1.entry-title-post,h1.entry-title-post a {font-size: 1.8rem;line-height: 1.3;margin-bottom: 1.5rem;}
    h1.entry-title-page {font-size: 1.8rem;line-height: 1.3;margin-bottom: 1.5rem;}
	.entry-meta-header,.entry-meta-categories,span.edit-link a {font-size: 0.65rem!important;}
	.entry-meta-header .genericon,.entry-meta-categories .genericon,span.edit-link .genericon {line-height: 1.1;}
	#footer .menu {text-align: center!important;}
   .footer_wrap p, .footer_wrap a {font-size: 0.875rem!important;}
    h1 {font-size:1.8rem;}
    h2 {font-size: 1.6rem;}
    h3 {font-size: 1.25rem;}
    h4 {font-size: 1.2rem;}
    h5 {font-size: 1rem;}
    h6 {font-size: 0.875rem;}
    .entry-content-post p,.entry-content-post ul li,.entry-content-post ol li,.comment-content table,.entry-content-post address, 
	.comment-content address,.entry-content-post pre,.comment-content pre,.comments-area article header cite,#comments,.entry-content-post dl,.entry-content-post dt,.entry-content-page p,.entry-content-page ul li,.entry-content-page ol li,.entry-content-page table th, .entry-content-page .comment-content table, .entry-content-page address, .entry-content-page .comment-content address, .entry-content-page pre,.entry-content-page .comment-content pre, .comments-area article header cite, .entry-content-page #comments,.entry-content-page dl,.entry-content-page dt {font-size: 0.875rem!important;}
    .entry-content-post table,.entry-content-page table {font-size: 0.75rem!important;}
    #wp-calendar {font-size: 0.75rem;}
    #secondary select {font-size: 0.85rem;}
	.pricing-table {margin-left: 0!important;}
	.f-topbar-fixed {padding-top: 0;}
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.header-info {margin-top: 0;margin-bottom: 0.9375rem;}
	h1.site-title a {font-size: 2.5rem;}
    .site-description {font-size: 1rem!important;}
    .site-description {font-size: 1rem!important;}
    .title-bar {padding:0.80rem 0.65rem;}
	.title-bar button {margin:0;padding-right:0}
	.content_wrap {padding-top: 1rem;}
	.breadcrumbs {padding: 0.1rem 0.5rem;}
	h1.entry-title-post,h1.entry-title-post a {font-size: 1.8rem;line-height: 1.3;margin-bottom: 1.5rem;}
    h1.entry-title-page {font-size: 1.8rem;line-height: 1.3;margin-bottom: 1.5rem;}
	.entry-meta-header,.entry-meta-categories,span.edit-link a {font-size: 0.65rem!important;}
	.entry-meta-header .genericon,.entry-meta-categories .genericon,span.edit-link .genericon {line-height: 1.1;}
	#footer .menu {text-align: center!important;}
   .footer_wrap p, .footer_wrap a {font-size: 0.875rem!important;}
    h1 {font-size:1.8rem!important;}
    h2 {font-size: 1.6rem!important;}
    h3 {font-size: 1.25rem!important;}
    h4 {font-size: 1.2rem!important;}
    h5 {font-size: 1rem!important;}
    h6 {font-size: 0.875rem!important;}
    .entry-content-post p,.entry-content-post ul li,.entry-content-post ol li,.comment-content table,.entry-content-post address, 
	 .comment-content address,.entry-content-post pre,.comment-content pre,.comments-area article header cite,#comments,.entry-content-post dl,.entry-content-post dt,.entry-content-page p,.entry-content-page ul li,.entry-content-page ol li, .entry-content-page table th,.entry-content-page .comment-content table,.entry-content-page address, .entry-content-page .comment-content address, .entry-content-page pre,.entry-content-page .comment-content pre,.comments-area article header cite,.entry-content-page #comments,.entry-content-page dl,.entry-content-page dt{font-size: 0.875rem!important;}
    .entry-content-post table,.entry-content-page table {font-size: 0.75rem!important;}
    #wp-calendar{font-size: 0.75rem;}
    #secondary select{font-size: 0.85rem;}
    .pricing-table {margin-left: 0!important;}
    .top-bar{font-size: 0.725rem!important;}
	.f-topbar-fixed{padding-top: 0;}
}

/* Large and up */
@media screen and (min-width: 64em) {}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

